<nav
    class="sticky top-0 z-50 bg-white/80 backdrop-blur-md border-b border-stone-200 transition-all duration-300 shadow-sm"
>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-20 items-center">
            <a href="{% url 'index' %}" class="flex items-center gap-2 group">
                <div
                    class="w-10 h-10 bg-amber-500 text-white flex items-center justify-center font-['Playfair_Display'] font-bold text-xl rounded-lg"
                >
                    OF
                </div>
                <span
                    class="text-2xl font-['Playfair_Display'] font-bold text-stone-900 tracking-tight"
                    >OnlyFlans</span
                >
            </a>
            <ul
                class="hidden md:flex space-x-8 text-sm font-semibold tracking-wide uppercase text-stone-600"
            >
                <li>
                    <a href="{% url 'index' %}" class="hover:text-amber-500 transition-color"
                        >Catálogo</a
                    >
                </li>
                <li>
                    <a href="{% url 'about' %}" class="hover:text-amber-500 transition-color"
                        >Nuestra Historia</a
                    >
                </li>
                {% if user.is_authenticated %} {% if perms.web.add_flan %}
                <li>
                    <a href="{% url 'crear_flan' %}" class="hover:text-amber-500 transition-color"
                        >+ Nuevo Postre</a
                    >
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'logout' %}" class="hover:text-amber-500 transition-color"
                        >Cerrar Sesión</a
                    >
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}" class="hover:text-amber-500 transition-color"
                        >Ingresar</a
                    >
                </li>
                <li>
                    <a href="{% url 'signup' %}" class="hover:text-amber-500 transition-color"
                        >Registrarse</a
                    >
                </li>
                {% endif%}
            </ul>
        </div>
    </div>
</nav>