{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg border-0">
                <div class="card-body p-4">

                    {% if tiene_carrito %}
                    <div class="alert of-contact-alert d-flex align-items-center mb-4">
                        <span class="fs-4 me-2">📦</span>
                        <div>
                            <strong>Modo Pedido Web Activo:</strong> Tu resumen de productos ya ha sido cargado
                            automáticamente en el campo de mensaje.
                            <div>
                                Para consultas generales, vacie su carrito y vuelva a la sección de contacto
                            </div>
                        </div>

                    </div>
                    {% endif %}

                    <h3 class="mb-3 text-center">Formulario de {{ tipo_solicitud }}</h3>

                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">{{ form.customer_name.label }}</label>
                            {{ form.customer_name }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">{{ form.customer_email.label }}</label>
                            {{ form.customer_email }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">{{ form.message.label }}</label>
                            {{ form.message }}
                        </div>

                        <button type="submit" class="btn btn-primary  py-2 fs-5  btn-caramel">
                            {% if tiene_carrito %}Confirmar y Enviar Pedido{% else %}Enviar Consulta{% endif %}
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}