{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <a href="/" class="btn btn-outline-caramel btn-sm mb-4">
        <i class="fa-solid fa-arrow-left me-1"></i> Volver
    </a>

    <div class="row align-items-center g-5">
        <div class="col-md-6">
            <div class="shadow-sm rounded-4 overflow-hidden border">
                <img src="{{ flan.image_url }}" alt="{{ flan.name }}"
                    class="img-fluid w-100 object-fit-cover of-detail-img">
            </div>
        </div>

        <div class="col-md-6">
            <span class="of-badge-tag position-static d-inline-block mb-3 of-badge-dark">
                {{ flan.tag }}
            </span>
            <h1 class="display-5 fw-bold mb-3 of-text-heading">{{ flan.name }}</h1>
            <h3 class="of-price display-6 mb-4">${{ flan.precio }}</h3>

            <p class="lead text-muted mb-4 of-lh-md">
                {{ flan.description }}
            </p>
            <a href="{% url 'agregar_al_carrito' flan.id %}" class="btn btn-caramel btn-sm align-items-center gap-2">
                Añadir al Pedido
            </a>
        </div>
    </div>
</div>
{% endblock %}